h1 {
	font-family: Comic Sans MS;
	font-weight: bold;
	letter-spacing: 2px;
}
table {
	border-collapse: collapse;
}
table, th, td {
  border: 2px solid black;
	padding: 3px;
}
small {
	font-size: 10px;
}
big {
	font-size: 20px;
	font-weight: bold;
}
bigger {
	font-size: 50px;
	font-weight: bold;
}

