body {
	background-image: linear-gradient(to left, #44FF44, #448844);
	color: #000088;
	position: relative;
	}
th, td {
	text-align: left;
}
table, th, td {
	border: 1px solid black;
	padding: 1px;
}
commie {
	color: #FFFF44;
	background-color: #FF4444;
	border: 5px solid #882222;
}
smol {
	font-size: 10px;
}
big {
	font-size: 25px;
	font-weight: bold;	
}
