body {
	background-image: linear-gradient(to left, #44FF44, #448844);
	font-family: 'Balsamiq Sans', cursive;
	color: #000088;
	position: absolute;
	}
th, td {
	text-align: left;
}
table, th, td {
	border: 1px solid black;
	padding: 0px;
}