body {
	font-family: 'Balsamiq Sans', cursive;
}
div.scroll { 
	margin:4px, 4px; 
	padding:4px; 
	background-color: #DDDDDDBB; 
	width: 326px; 
	height: 226px; 
	overflow-x: hidden; 
	overflow-x: auto; 
	text-align:justify; 
	position: fixed;
	right: 0%;
	font-size: 13px;
	border: 1px solid #444444;
	border-radius: 15.5px;
} 
button {
	width: 100px;
	height: 100px;
	font-size: 12px;
	outline: 0px;
	border: 1px solid #444444;
	border-radius: 12.5%;
	animation: textshrink 1s;
	transition:all 0.3s ease;
	font-family: 'Balsamiq Sans', cursive;
}
button:hover {
	-webkit-transform: scale(1.33);
	-ms-transform: scale(1.33);
	transform: scale(1.33);
}